

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0A2540;
    --accent-color: #F97316;
    --light-bg: #F5F7FA;
    --dark-text: #1F2933;
    --white: #ffffff;

    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;

    --max-width: 1100px;
}

body{
    font-family: var(--font-body);
    color: var(--dark-text);
    background-color: var(--light-bg);
    line-height: 1.6;
}

/* Global elements*/
h1, h2, h3, h4{
    font-family: var(--font-heading);
    color: var(--primary-color)
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: 4rem 1.5rem;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

/*Nav bar css*/

header{
    background: var(--white);
    box-shadow: 0px 2px 8px rgb(0,0,0,0.5);
}
.navbar{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 1.5rem;
}

.nav-links a{
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: var(--accent-color);
}

/*hero section*/
.hero{
    background: linear-gradient(
        rgb(10, 37, 64, 0.85),
        rgb(10, 37, 64, 0.85)
    );
    color: var(--white);
    text-align: center;
    padding: 6rem 1.5rem;
}

.hero h2{
    color: var(--white);
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.hero p{
    max-width: 600px;
    margin: auto;
    margin-bottom: 2rem;
}

/*call to action*/
.btn-primary{
    display: inline-block;
    background: var(--accent-color);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.btn-primary :hover{
    background: #ea6a0f;
}


/*services*/
.services-preview{
    background: var(--white);
}

.services-preview h3{
    text-align: center;
    margin-bottom: 2.5rem;
}

.service-cards{
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}
.card{
    background: var(--light-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgb(0,0,0,0.05);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(5px);
}


/*why us*/
.why-us{
    max-width: var(--max-width);
    margin: auto;
}

.why-us ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 1.5rem;
}
.why-us li{
    background: var(--white);
    padding: 1rem;
    border-left: 4px solid var(--accent-color);
}

/*page headers*/
.page-header{
    text-align: center;
    background: var(--white);
}

.page-header h2{
    margin-bottom: 0.5rem;
}

/*Service lsit*/
.service-item{
    background: var(-white);
    padding: 2rem;
    border-radius: 8px;
}

.service-list{
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    gap: 2rem;
}


/*about*/
.about-content{
    max-width: 800px;
    margin: auto;
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
}


/*contact page*/
.contact-info, .contact-form{
    max-width: 600px;
    margin: auto;
    margin-bottom: 2rem;
}
.contact-form form{
    display: grid;
    gap: 1rem;
}

.contact-form input, .contact-form textarea{
    padding: 0.74rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.contact-form button{
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/*footer*/
footer{
    background: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 1.5rem;
}

/*responsiveness*/

@media (max-width: 768px){
    .nav-links{
        flex-direction: column;
        gap: 0.75rem;
    }
    .hero h2{
        font-size: 1.8rem;
    }
}