

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0A2540;
    --accent-color: #F97316;
    --light-bg: #F5F7FA;
    --dark-text: #1F2933;
    --white: #ffffff;

    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;

    --max-width: 1100px;
}

body{
    font-family: var(--font-body);
    color: var(--dark-text);
    background-color: var(--light-bg);
    line-height: 1.6;
}